{
  "telegram_token": "{{vpn_bot.telegram_token }}",
  "allowed_ids": [{{ vpn_bot.admin_id }}],
  "easy_rsa_dir": "/usr/share/easy-rsa",
  "client_config_dir": "/tmp/openvpn_clients",
  "server_cert_name": "server",
  "vpn_server_address": "{{ vpn_server_address }}",
  "vpn_protocol": "{{ vpn_protocol }}",
  "vpn_port": "{{ vpn_port }}"
}
