{
  "telegram_token": "{{vpn_bot.telegram_token }}",
  "admin_id": "{{vpn_bot.admin_id }}",
  "easy_rsa_dir": "/usr/share/easy-rsa",
  "client_config_dir": "/tmp/openvpn_clients",
  "server_cert_name": "server",
  "vpn_server_address": "",
  "vpn_protocol": "udp",
  "vpn_port": "1194"
}
