#!/usr/sbin/nft -f

flush ruleset

table inet filter {
        chain input {
                type filter hook input priority filter;
        tcp dport http accept
        tcp dport 801 drop
        tcp dport 802 drop
        tcp dport 803 drop
        tcp dport 804 drop
        tcp dport 805 drop

        }
        chain forward {
                type filter hook forward priority filter;
        }
        chain output {
                type filter hook output priority filter;
        }
}
