[{{ host_vars.namedir }}]
    comment = Staff Folder
    path = "{{ host_vars.smbdir }}"
    public = no
    writable = yes
    read only = no
    guest ok = no
    create mask = 0777
    directory mask = 0777
    force create mode = 0777
    force directory mode = 0777