pty "pptp {{ vault_secrets.mega.office_host }} --nolaunchpppd"
require-mschap-v2
require-mppe-128
user {{ host_vars.vpnuser }}
password "{{ vault_secrets.mega.vpn_pass }}"
nodeflate
nobsdcomp
noauth
persist
maxfail 10 
holdoff 15